//TODO: Clean this all up.
//TODO: Update SCSS.

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}


.intro-message {
    position: relative;
    padding-top: 0%;
    padding-bottom: 0%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


@media (min-width: 768px) {
  header.masthead {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  header.masthead h1 {
    font-size: 5rem;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

}

header.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

header.masthead .features-icons-item {
  max-width: 20rem;
}

header.masthead .features-icons-item .features-icons-icon {
  height: 7rem;
}

header.masthead .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

header.masthead .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}



.team-member {
  margin-bottom: 50px;
  text-align: center;
}

ul.social-buttons {
  margin-bottom: 100px;
}

ul.social-buttons li a {
  margin-top: 0rem;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}